/*Selector id*/
html{
    background-position: top right;
    background-attachment: scroll;
    background-image: url(https://live.staticflickr.com/2444/3641884410_2f2fb090fe_b.jpg);
    background-repeat: no-repeat;
    background-origin: padding-box;
}
.name{
    color: rgb(255, 255, 255);
    background-color: rgb(138, 100, 243);
}

#aviso{
    background-origin: border-box;
    color: blueviolet;
    background-color: rgb(135, 214, 115);
}
/* Solo se puede poner un id, nunca puede repetirse */

/* Selector Descendiente */

div{
    border: rgb(0, 217, 255) 5px dotted;
    margin: 10px;
    padding: 10px;
    background-position: center center;
    
}

#Audios {
    background-color: mediumpurple;
    color: whitesmoke;
    font-weight: bolder;
}
h1 {
    color: rgb(255, 0, 0);
}
#videos{
    background-image: url(https://st4.depositphotos.com/21916792/24422/v/1600/depositphotos_244227136-stock-illustration-seamless-pattern-geometric-shapes-multicolored.jpg);
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    background-size: contain;

}
#tigre{
    background: linear-gradient(to bottom, rgb(140, 0, 255),rgb(0, 255, 255), rgb(62,56,250),rgb(96,255,70));
}

/* Se separa por espacio,no por punto */