* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.container {
    background-color: lightgreen;
    border-radius: 5px;
    margin: 100px auto;
    position: relative;
    height: 700px;
    width: 80%;
   
}

.container nav {
    background-color: rgb(70, 69, 69);
    color: white;
    height: 60px;
}

.container nav div {
    display: inline-block;
    padding-right: 50px;
    height: 50px;
    text-align: center;
    padding: 25px;
}

figure {
    border-radius: 10px;
    background-color: white;
    border: 3px black solid;
    height: 45%;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#li1 {
    left: 20%;
    position: absolute;
    top: 25%;
    z-index: 10;
  }
  
  #li2 {
    left: 30%;
    position: absolute;
    top: 30%;
    z-index: 6;
  }
  
  #li3 {
    left: 40%;
    position: absolute;
    top: 35%;
    z-index: 4;
  }
  
  #li4 {
    left: 50%;
    position: absolute;
    top: 40%;
    z-index: 2;
  }

ul {
    list-style-type: none;
    text-align: center;
}
.fixed-sidebar{
    border: 2px black solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10%;
    width:5%;
}

.fixed-sidebar img {
    width: 50px;
    text-align: center;
}

